{% extends 'dashboard/mainlayout.html' %}

{% block title %}
<title>Logs - Error Tracker</title>
{% endblock %}

{% block dynamic_ul %}
<ul class="navbar-nav text-light" id="accordionSidebar">
    <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}"><i
            class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
    <li class="nav-item"><a class="nav-link active" href="{% url 'logs' %}"><i
            class="fas fa-user"></i><span>Logs</span></a></li>
    <li class="nav-item"><a class="nav-link" href="table.html"><i
            class="fas fa-table"></i><span>Обращения</span></a></li>
    <li class="nav-item"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Ошибки</span></a>
    </li>
    <li class="nav-item"><a class="nav-link" href="register.html"><i
            class="fas fa-user-circle"></i><span>Уведомления</span></a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div>
    <div id="content" style="padding-top: 16px">
        <div class="container-fluid">
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
                <h3 class="text-dark mb-0">Logs</h3>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="text-dark mb-0">Category</th>
                    <th scope="col" class="text-dark mb-0">Info</th>
                    <th scope="col" class="text-dark mb-0">DateTime</th>
                </tr>
                </thead>
                <tbody>
                {% for log in log_list %}
                <tr>
                    <th scope="row">{{ log.category }}</th>
                    <td>{{ log.log }}</td>
                    <td>{{ log.date_time }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
{% endblock %}